body {
  font-family: Roboto, sans-serif;
}

.menu .link {
  color: #212121;
}

.menu .link:hover {
  color: rgb(189, 50, 227);
}

.menu .link:focus {
  color: salmon;
}

.cursors .pointer {
  cursor: pointer;
}
